NET "digit_1"  LOC = P26 | IOSTANDARD = LVTTL;
NET "digit_2"  LOC = P23 | IOSTANDARD = LVTTL;
NET "digit_3" LOC = P24 | IOSTANDARD = LVTTL;
NET "digit_4" LOC = P21 | IOSTANDARD = LVTTL;

NET "seg1A" LOC = P17 | IOSTANDARD = LVTTL;
NET "seg1B" LOC = P14 | IOSTANDARD = LVTTL;
NET "seg1C" LOC = P82 | IOSTANDARD = LVTTL;
NET "seg1D" LOC = P81 | IOSTANDARD = LVTTL;
NET "seg1E" LOC = P80 | IOSTANDARD = LVTTL;
NET "seg1F" LOC = P22 | IOSTANDARD = LVTTL;
NET "seg1G" LOC = P16 | IOSTANDARD = LVTTL;

NET "seg2A" LOC = P11 | IOSTANDARD = LVTTL;
NET "seg2B" LOC = P8 | IOSTANDARD = LVTTL;
NET "seg2C" LOC = P87 | IOSTANDARD = LVTTL;
NET "seg2D" LOC = P84 | IOSTANDARD = LVTTL;
NET "seg2E" LOC = P83 | IOSTANDARD = LVTTL;
NET "seg2F" LOC = P15 | IOSTANDARD = LVTTL;
NET "seg2G" LOC = P85 | IOSTANDARD = LVTTL;

NET "seg3A" LOC = P1 | IOSTANDARD = LVTTL;
NET "seg3B" LOC = P2 | IOSTANDARD = LVTTL;
NET "seg3C" LOC = P93 | IOSTANDARD = LVTTL;
NET "seg3D" LOC = P92 | IOSTANDARD = LVTTL;
NET "seg3E" LOC = P88 | IOSTANDARD = LVTTL;
NET "seg3F" LOC = P5 | IOSTANDARD = LVTTL;
NET "seg3G" LOC = P6 | IOSTANDARD = LVTTL;

NET "seg4A" LOC = P144 | IOSTANDARD = LVTTL;
NET "seg4B" LOC = P141 | IOSTANDARD = LVTTL;
NET "seg4C" LOC = P98 | IOSTANDARD = LVTTL;
NET "seg4D" LOC = P95 | IOSTANDARD = LVTTL;
NET "seg4E" LOC = P94 | IOSTANDARD = LVTTL;
NET "seg4F" LOC = P143 | IOSTANDARD = LVTTL;
NET "seg4G" LOC = P97 | IOSTANDARD = LVTTL;

NET "io_sel<0>" LOC = P9 | IOSTANDARD = LVTTL;
NET "io_sel<1>" LOC = P10 | IOSTANDARD = LVTTL;
NET "io_sel<2>" LOC = P7 | IOSTANDARD = LVTTL;
NET "io_sel<3>" LOC = P12 | IOSTANDARD = LVTTL

NET "lives<9>" LOC = P99 | IOSTANDARD = LVTTL;
NET "lives<8>" LOC = P75 | IOSTANDARD = LVTTL;
NET "lives<7>" LOC = P101 | IOSTANDARD = LVTTL;
NET "lives<6>" LOC = P104 | IOSTANDARD = LVTTL;
NET "lives<5>" LOC = P112 | IOSTANDARD = LVTTL;
NET "lives<4>" LOC = P114 | IOSTANDARD = LVTTL;
NET "lives<3>" LOC = P115 | IOSTANDARD = LVTTL;
NET "lives<2>" LOC = P116 | IOSTANDARD = LVTTL;
NET "lives<1>" LOC = P117 | IOSTANDARD = LVTTL;
NET "lives<0>" LOC = P118 | IOSTANDARD = LVTTL;

NET "alulight<0>" LOC = P137 | IOSTANDARD = LVTTL;
NET "alulight<1>" LOC = P140 | IOSTANDARD = LVTTL;
NET "alulight<2>" LOC = P139 | IOSTANDARD = LVTTL;

NET "rbtn" LOC = P111 | IOSTANDARD = LVTTL | PULLDOWN;
NET "lbtn" LOC = P66 | IOSTANDARD = LVTTL | PULLDOWN;
